{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "developments": {
      "plugins": ["dynamic-import-webpack"]
    },
    "production": {
      "plugins": ["dynamic-import-webpack"]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
