background-color = rgb(246, 231, 240)

content-z = 1000

header-z      = 1020
header-height = 72px
header-color  = rgb(216, 112, 130)

login-form-z     = 2000
login-form-color = white
login-form-width = 320px

register-form-z     = 2000
register-form-color = white
register-form-width = 320px

modal-background-z       = 1010
modal-background-color   = gray
modal-background-opacity = 0.3

modal-box-shadow   = 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24)

mobile-menu-z            = 1030
mobile-menu-width        = 250px
mobile-menu-border-color = rgb(149, 44, 87)
mobile-menu-duration     = 80ms
mobile-menu-pause        = 5ms
mobile-menu-item-size    = 64px

footer-color        = rgb(216, 112, 130)
footer-border-color = rgb(149, 44, 87)
footer-height       = 72px
footer-z            = 1000

orb-color        = rgb(182, 191, 60)
orb-border-color = rgb(0, 170, 143)

skill-icon-size         = 56px
skill-icon-border-color = rgb(216, 112, 130)

hud-height = 124px
hud-z = 1980
bar-z = 1970
quit-button-size = 48px
bar-box-height = 50%
bar-width = 8px

text-field-outline-text-color = rgba(149, 44, 87, 0.3)
label-text-color = rgba(149, 44, 87, 0.7)
pagination-active-page-text-color = rgba(149, 44, 87, 0.7)

xs = 'screen and (max-width: 575px)'
sm = 'screen and (min-width: 576px) and (max-width: 767px)'
md = 'screen and (min-width: 768px) and (max-width: 991px)'
lg = 'screen and (min-width: 992px) and (max-width: 1199px)'
xl = 'screen and (min-width: 1200px)'