@keyframes rotation
  from
    transform rotate(0deg)

  // 50%
  //   transform rotate(180deg)

  to
    transform rotate(360deg)

.animation-loading
  text-align center

  img
    animation-name rotation
    animation-duration 1s
    animation-timing-function linear
    animation-iteration-count infinite