#gp-game
  display inline-block
  width 800px
  height 600px
  overflow hidden
  border 1px solid alpha(gray, 0.3)
  margin-top 16px
  margin-left 16px

#gp-info
  display inline-block
  margin-top 16px
  margin-left 16px
  border 1px solid alpha(gray, 0.3)

#gp-log
  display block
  width: 800px
  height 100px
  overflow hidden
  overflow-y scroll
  margin-left 16px
  margin-right 16px
  padding 8px
  font-family monospace
  border 1px solid alpha(gray, 0.3)

#gp-skill-a1
  position absolute
  left 16px
  top 72px + 16px

#gp-skill-a2
  position absolute
  left 16px + 48px + 16px
  top 72px + 16px