#gp-game
  display inline-block
  width 800px
  height 600px
  overflow hidden
  border 1px solid alpha(gray, 0.3)
  margin-top 16px
  margin-left 16px

#gp-info
  display inline-block
  margin-top 16px
  margin-left 16px
  border 1px solid alpha(gray, 0.3)