@import './_variables'

#ms-section
  padding-top 32px
  height 500px
  text-align center

  @media xs
    height 280px

#ms-logo
  width 256px
  height 256px

  @media xs
    width 128px
    height 128px

#ms-title
  margin 0
  font-size 80px
  color orb-border-color

  @media xs
    font-size 30px

#ms-small
  text-transform uppercase
  color orb-color

  @media xs
    font-size 70%