@import './_variables'

.match
  display flex
  padding 16px
  height 64px

  &:hover
    box-shadow modal-box-shadow

  &-content
    flex 7

  &-controls
    flex 1

  &-id
    position static
    top 0

  &-time
    position static
    bottom 0

.match-watch,
.match-join
  float right