@import './_variables'

#mm-menu
  position absolute
  top header-height
  right 0
  bottom 0
  width mobile-menu-item-size
  z-index mobile-menu-z
  text-align center

#mm-item-news
  background-color rgb(245, 230, 24)
  transition-delay 0ms

  .hidden &
    transition-delay 3 * (mobile-menu-duration + mobile-menu-pause)

#mm-item-wiki
  background-color rgb(245, 182, 65)
  transition-delay mobile-menu-duration + mobile-menu-pause

  .hidden &
    transition-delay 2 * (mobile-menu-duration + mobile-menu-pause)

#mm-item-login
  background-color rgb(54, 160, 202)
  transition-delay 2 * (mobile-menu-duration + mobile-menu-pause)

  .hidden &
    transition-delay mobile-menu-duration + mobile-menu-pause

#mm-item-join
  background-color rgb(193, 107, 158)
  transition-delay 3 * (mobile-menu-duration + mobile-menu-pause)

  .hidden &
    transition-delay 0ms

.mm-item
  display block
  width mobile-menu-item-size
  height mobile-menu-item-size
  padding 16px 0
  text-transform uppercase
  color orb-border-color
  font-size 20px
  for side in left right bottom
    border-{side} 3px solid mobile-menu-border-color

  position relative
  right 8px
  transition right mobile-menu-duration linear

  .hidden &
    right mobile-menu-item-size * -1

  img
    width mobile-menu-item-size * 0.5
    height mobile-menu-item-size * 0.5
