@import './_variables'

.region
  display flex
  padding 16px
  height 64px

  &:hover
    box-shadow modal-box-shadow

  &-content
    flex 7

  &-controls
    flex 1

  &-name
    position static
    top 0

.region-watch,
.region-join
  float right