@import './_variables'

#smt-controls
  margin 0 auto
  width 400px
  display flex

  @media xs
    width 100%

#smt-new-match
  flex 1
  margin-left 8px
  font-weight 800

#smt-error
  color alpha(red, 0.5)
  text-align center
  margin-top 8px

#smt-pagination
  margin 0 auto
  width 400px
  position sticky
  bottom 0

  @media xs
    width 100%