@import './_variables'

#sm-section
  padding-top 32px
  height 500px
  text-align center

  @media xs
    height 280px

#sm-logo
  width 256px
  height 256px

  @media xs
    width 128px
    height 128px

#sm-title
  margin 0
  font-size 80px
  color orb-border-color

  @media xs
    font-size 30px

#sm-small
  text-transform uppercase
  color white

  @media xs
    font-size 70%

#sm-join-the-battle
  height 60px
  for side in left right
    padding-{side} 32px
  margin-top 16px
  background-color orb-color

  @media xs
    height 30px